body {
    width: 100vw;
}

#quizContainer {
    display: none;
}

#answersContainer {
    width: 100%;
}

#endScreenContainer {
    display: none;
}

#answersContainer {
    display: flex;
    flex-direction: column;
}

#highscoresContainer {
    display: none;
    width: 100%;
    display: flex;
    flex-direction: column;
}